SUBSYSTEM=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea70", MODE:="0777"
KERNEL=="ttyUSB*", DRIVERS=="cp210x", SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="00", MODE:="0777", SYMLINK+="usb_Com0"
KERNEL=="ttyUSB*", DRIVERS=="cp210x", SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="01", MODE:="0777", SYMLINK+="usb_Com1"
